<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{PROJECT_TITLE}}</title>

    <link href="{{ static_url('bower_components/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ static_url('bower_components/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">

    <link href="{{ static_url('css/main.css') }}" rel="stylesheet">
    <link rel="shortcut icon" href="{{ static_url('favicon.ico') }}">

    <script type="text/javascript" src="{{ static_url('require.config.js') }}"></script>
    <!-- BEGIN require -->
    <script type="text/javascript" data-main="{{ static_url('js/startup.js') }}"
            src="{{ static_url('bower_components/requirejs/require.js') }}"></script>
    <!-- END require.js -->
</head>

<body>
<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#home">{{PROJECT_TITLE}}</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                {% if current_user %}
                {% if USOS_PAIRED %}
                <li><a href="#user">Użytkownik</a></li>
                <li><a href="#tt">Plan zajęć</a></li>
                <li class="dropdown">
                      <a class="dropdown-toggle" data-toggle="dropdown" role="button"
                         aria-haspopup="true" aria-expanded="false">Szkoła<span class="caret"></span></a>
                      <ul class="dropdown-menu">
                          <li><a href="#courses">Przedmioty</a></li>
                          <li><a href="#grades">Oceny</a></li>
                          <li><a href="#terms">Semestry</a></li>
                          <li><a href="#programmes">Programy</a></li>
                          <li><a href="#lecturers">Nauczyciele</a></li>
                      </ul>
                </li>
                {% end %}
                {% end %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li id="spinner"><a class="fa fa-spinner fa-pulse"></a></li>
                {% if current_user %}
                <li><a href="/authentication/logout">Wyloguj</a></li>
                {% else %}
                <li class="dropdown">
                    <a href="/authentication/login" class="dropdown-toggle" data-toggle="dropdown" role="button"
                       aria-haspopup="true" aria-expanded="false">Zaloguj <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/authentication/google">Przez Google</a></li>
                    </ul>
                    {% end %}
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<!-- kontener na tresc -->
<div id="page" class="container">

</div>

</body>

</html>