<section id="kontakt">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 heading">
                <h2 class="skorzystaj-z-pomocy">Skorzystaj z kontaku</h2>
                <p>Masz jakieś pytania lub problemy z korzystaniem z aplikacji? <span>
				Napisz do nas!</span></p>
            </div>
            <div class="col-sm-12">
                <form class="form-horizontal" enctype="multipart/form-data">

                    <div class="form-group">
                        <label for="title" class=" control-label text-left">Tytuł</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" id="inputSubject"
                                   placeholder="Wpisz tytuł wiadomości">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="textarea" class="control-label text-left">Treść</label>
                        <div class=" col-sm-6">
                            <textarea class="form-control" rows="10" placeholder="Wpisz treść wiadomości"
                                      id="inputMessage"></textarea>
                        </div>
                    </div>
                    <!--
                    <div class="form-group">
                        <div class="col-sm-12">
                            <p class="zalaczniki">Załącznik</p>
                            <div class="upload">
                                <input class="wybierz-plik" type="file" name="upload" size="10"/>
                            </div>
                        </div>
                    </div>
                    -->
                    <div class="form-group">
                        <div class="col-sm-2">
                            <button id="contactSubmit" class="btn btn-primary btn-zglos-problem">Wyślij wiadomość
                            </button>
                        </div>
                    </div>
                </form>

                <div id="formWarning"></div>

            </div>
        </div>
    </div>
</section>
