<table class="table table-hover table-responsive">
<tbody>
  <tr><td>Jednostka</td><td>{{fac_id.name}}, {{fac_id.postal_address}}, tel.: {{fac_id.phone_numbers}}</td></tr>
  {{#if lang_id}}
  <tr><td>Język prowadzenia</td><td>{{lang_id}}</td></tr>
  {{/if}}
  <tr><td>Czy jest prowadzony</td><td>{{is_currently_conducted}}</td></tr>
  {{#if description}}
  <tr><td>Opis</td><td>{{nl2br description}}</td></tr>
  {{/if}}
  {{#if bibliography}}
  <tr><td>Bibliografia</td><td>{{nl2br bibliography}}</td></tr>
  {{/if}}
  {{#if assessment_criteria}}
  <tr><td>Kryteria oceny</td><td>{{nl2br assessment_criteria}}</td></tr>
  {{/if}}

  <tr><td>Zajęcia w cyklu</td><td>{{term.name}}</td></tr>
  <tr><td>Okres</td><td>{{term.start_date}} - {{term.end_date}}</td></tr>

  <tr><td>Prowadzący grup</td>
    <td>
    {{#lecturers}}
      <button class="btn btn-link" type="button" data-toggle="modal" data-target="#lecturerModal" data-lecturerId="{{user_id}}">
        {{first_name}} {{last_name}}
      </button><br>
    {{/lecturers}}
    </td>
  </tr>
  {{#if coordinators}}
  <tr><td>Koordynatorzy</td>
    <td>
    {{#coordinators}}
      <button class="btn btn-link" type="button" data-toggle="modal" data-target="#lecturerModal" data-lecturerId="{{user_id}}">
        {{first_name}} {{last_name}}
      </button><br>
    {{/coordinators}}
    </td>
  </tr>
  {{/if}}
  {{#groups}}
  <tr><td>Typ zajęć</td><td>{{class_type}}, numer grupy: {{group_number}} </td></tr>
  {{/groups}}
  <tr><td>Studenci</td>
    <td>
    {{#participants}}
      <a href="#user/{{user_id}}">{{last_name}} {{first_name}}</a><br>
    {{/participants}}
    </td>
  </tr>


</tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="lecturerModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">New message</h4>
      </div>
      <div class="modal-body">
        <div id="lecturerDetails"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Zamknij</button>
      </div>
    </div>
  </div>
</div>