<table class="table table-hover table-responsive">
<tbody>
  <tr><td>Jednostka</td><td>{{fac_id.name}} {{fac_id.postal_address}} {{fac_id.phone_numbers}}</td></tr>
  {{#if lang_id}}
  <tr><td>Język prowadzenia</td><td>{{lang_id}}</td></tr>
  {{/if}}
  <tr><td>Czy jest prowadzony</td><td>{{is_currently_conducted}}</td></tr>
  {{#if description}}
  <tr><td>Opis</td>
      <td>
      <div class="collapse" id="cD{{course_id}}">
        <div class="well">
        {{nl2br description}}
        </div>
      </div>
      <a class="btn btn-default collapsed" data-toggle="collapse" href="#cD{{course_id}}">
          <span class="if-collapsed">Pokaż opis</span>
          <span class="if-not-collapsed">Ukryj opis</span>
      </a>
      </td>
  </tr>
  {{/if}}
  {{#if bibliography}}
  <tr><td>Bibliografia</td>
      <td>
      <div class="collapse" id="cB{{course_id}}">
        <div class="well">
        {{nl2br bibliography}}
        </div>
      </div>
      <a class="btn btn-default collapsed" data-toggle="collapse" href="#cB{{course_id}}">
          <span class="if-collapsed">Pokaż bibliografię</span>
          <span class="if-not-collapsed">Ukryj bibliografię</span>
      </a>
      </td>
  </tr>
  {{/if}}
  {{#if assessment_criteria}}
  <tr><td>Kryteria oceny</td>
      <td>
      <div class="collapse" id="cC{{course_id}}">
        <div class="well">
        {{nl2br assessment_criteria}}
        </div>
      </div>
      <a class="btn btn-default collapsed" data-toggle="collapse" href="#cC{{course_id}}">
          <span class="if-collapsed">Pokaż kryteria</span>
          <span class="if-not-collapsed">Ukryj kryteria</span>
      </a>
      </td>
  </tr>
  {{/if}}

  <tr><td>Zajęcia w cyklu</td><td>{{term.name}}</td></tr>
  <tr><td>Okres</td><td>{{term.start_date}} - {{term.end_date}}</td></tr>

  <tr><td>Prowadzący grup</td>
    <td>
    {{#lecturers}}
      <button class="btn btn-link lecturer-btn" type="button" data-lecturerId="{{user_id}}">
        {{first_name}} {{last_name}}
      </button><br>
    {{/lecturers}}
    </td>
  </tr>
  {{#if coordinators}}
  <tr><td>Koordynatorzy</td>
    <td>
    {{#coordinators}}
      <button class="btn btn-link lecturer-btn" type="button" data-lecturerId="{{user_id}}">
        {{first_name}} {{last_name}}
      </button><br>
    {{/coordinators}}
    </td>
  </tr>
  {{/if}}
  {{#groups}}
  <tr><td>Typ zajęć</td><td>{{class_type}}, numer grupy: {{group_number}} </td></tr>
  {{/groups}}
  <tr><td>Studenci</td>
    <td>
        <table id="students-table{{course_id}}" class="table table-hover table-responsive">
                {{#participants}}
                <tr>
                    <p class="btn btn-link user-btn" type="button" data-userId="{{user_id}}">
                        {{last_name}} {{first_name}}
                    </p>
                </tr>
                {{/participants}}
        </table>
    </td>
  </tr>
</tbody>
</table>
