<div class="site-wrapper">
    <div class="site-wrapper-inner">
        <div class="cover-container">
            <div class="inner cover">
                <div class="content">
                    <h1>Warunki użytkowania i polityka prywatności</h1>
                    <div class="entry">

                        <p>Witamy w kujon od ........ Sp. z o.o., z siedzibą w Warszawie (..-..), Polsce,
                            przy ul. ....., KRS: ......., NIP: ,........., (“<strong>Firma</strong>” lub
                            “<strong>My</strong>”).</p>

                        <p>Korzystając z aplikacji Kujon lub strony internetowej pod adresem kujon.mobi (wspólnie
                            jako “<strong>Kujon</strong>” lub “<strong>Aplikacja</strong>”) zgadzasz się na warunki
                            zawarte w Regulaminie (“<strong>Umowa</strong>”). Powinieneś także zapoznać się z <strong>Polityką
                                Prywatności</strong>, odwołanie do której znajdziesz w niniejszej
                            <strong>Umowie</strong>. Jeśli nie zgadzasz się ze wszystkimi zasadami zawartymi w
                            niniejszej <strong>Umowie</strong>, łącznie z <strong>Polityką Prywatności</strong>,
                            prosimy o zaprzestanie korzystania z aplikacji. Prosimy o kontakt w przypadku pytań
                            związanych z niniejszą <strong>Umową</strong>.</p>
                        <h2>I. POSTANOWIENIA OGÓLNE</h2>
                        <ol>
                            <li>Niniejsza Umowa (łącznie z Polityką Prywatności) spełnia wymagania Ustawy o świadczeniu
                                usług drogą elektroniczną z 18 lipca 2002 roku, to znaczy określa świadczone usługi,
                                wymagania (łącznie z wymaganiami technicznymi), politykę prywatności, warunki
                                świadczenia usług elektronicznych, procedurę reklamacji, etc.
                            </li>
                            <li>Poprzez akceptację niniejszej Umowy, przed lub w momencie instalacji Kujon, całkowicie
                                zgadzasz się na jej warunki, bez konieczności zawarcia oddzielnej umowy. Akceptacja
                                niniejszej Umowy jest niezbędna do korzystania z Kujon.
                            </li>
                            <li>Jeśli chcesz wypowiedzieć akceptację niniejszej Umowy, prosimy o zaprzestanie używania
                                Kujon, oraz usunięcie (odinstalowanie) aplikacji.
                            </li>
                            <li>Instalacja oraz korzystanie z Kujon są darmowe. Kwestia transmisji danych wymaganej w
                                celu pobrania i korzystania z Kujon stanowi przedmiot oddzielnej umowy z twoim dostawcą
                                Internetu.
                            </li>
                        </ol>
                        <h2>II. ŚWIADCZONE USŁUGI</h2>
                        <ol>
                            <li>Kujon umożliwia mobieranie danych z studenckich.
                                Korzystanie z API i Kujon musi spełniać wymagania i regulaminy korzytania z
                                aplikacji studenckiej.
                            </li>
                            </li>
                            <li>Kujon jest dostępny na urządzenia mobilne (smartfony), spełniające następujące
                                wymagania:
                                <ol style="list-style-type: lower-latin;">
                                    <li>Dla Kujon na AppStore: iPhone 5 lub wyżej</li>
                                    <li>Dla Kujon na GooglePlay : Android 4.0 lub wyżej</li>
                                </ol>
                            </li>
                            <li>Jesteś zobowiązany do korzystania z Kujon w zgodzie z prawem, niniejszą Umową oraz
                                innymi ogólnymi zasadami życia społecznego. W szczególności jesteś zobowiązany do:
                                <ol style="list-style-type: lower-latin;">
                                    <li>Korzystania z Kujon w sposób nieutrudniający korzystania z aplikacji innym
                                        użytkownikom lub Firmie,
                                    </li>
                                    <li>Korzystania z Kujon w sposób niezakłócający funkcjonowania aplikacji,</li>
                                    <li>Korzystania z Kujon oraz innych udostępnionych materiałów w celach zgodnych z
                                        prawem.
                                    </li>
                                </ol>
                            </li>
                            <li>Nie ma tolerancji dla niewłaściwych, szkodliwych treści.</li>
                            <li>W przypadku napotkania jakichkolwiek przypadków łamania powyższych zasad, powinieneś
                                natychmiast poinformować Firmę wysyłając e-mail na adres <a
                                        href="mailto:kujon@kujon.mobi">kujon@kujon.mobi</a>.
                            </li>
                            <li>W przypadku zgłoszenia niewłaściwych lub szkodliwych treści (a także innych naruszeń
                                Regulaminu) podejmiemy reakcję w ciągu 24 godzin. Reakcja może skutkować usunięciem
                                niewłaściwych treści oraz usunięciem konta użytkownika, który te treści dodał.
                            </li>
                            <li>Korzystanie z aplikacji jest darmowe.</li>
                        </ol>
                        <h2>III. REJESTRACJA ORAZ ZAMKNIĘCIE KONTA</h2>
                        <ol>
                            <li>Musisz mieć skończone 18 lat by uzyskać dostęp i możliwość korzystania z Kujon.</li>
                            <li>Poprzez uruchomienie i korzystanie z Kujon, poświadczasz, że posiadasz prawo,
                                kompetencje oraz zdolność do zawarcia niniejszej Umowy a także zobowiązujesz się do
                                przestrzegania wszelkich jej warunków.
                            </li>
                            <li>Korzystanie z Kujon może być zakazane lub ograniczone w niektórych krajach. Jesteś
                                odpowiedzialny za przestrzeganie praw i regulacji obowiązujących na terytorium, z
                                którego próbujesz uzyskać dostęp do Kujon.
                            </li>
                            <li>By korzystać z Kujon, musisz się zarejestrować lub zalogować przy użyciu swojego konta
                                w serwisie Facebook lub Google.
                            </li>
                            <li>Możesz w dowolnej chwili zaprzestać korzystania z Kujon, w szczególności jeśli nie
                                akceptujesz zmian w niniejszej Umowie, Polityce Prywatności lub w samym Kujon.
                            </li>
                            <li>By przestać korzystać z Kujon usuń aplikację ze swojego urządzenia mobilnego.</li>
                            <li>Niniejsza Umowa zawarta jest na czas nieokreślony. By rozwiązać Umowę, przestań
                                korzystać Kujon i usuń aplikację ze swojego urządzenia mobilnego. Dodatkowo możesz
                                tez usunąć konto w serwisie <a href="https://kujon.mobi/">kujon.mobi</a>.
                            </li>
                            <li>Może również usunąć lub zawiesić twoje konto w dowolnej chwili bez dodatkowej
                                informacji, w przypadku, gdy zaistnieją podejrzenia, że zerwałeś niniejszą Umowę, lub z
                                innego powodu.
                            </li>
                            <li>Posiadamy prawo do zawieszenia Kujon w dowolnej chwili, z dowolnego powodu, jak również
                                do wycofania Kujon, wprowadzania zmian oraz poszerzenia zakresu świadczonych usług.
                            </li>
                        </ol>
                        <h2>IV. KORZYSTANIE Z APLIKACJI</h2>
                        <ol>
                            <li>Do korzystania z Kujon potrzebujesz Smartfona, lub innego urządzenia z systemem
                                operacyjnym Android lub Apple z dostępem do Internetu oraz usług lokalizacyjnych.
                            </li>
                            <li>Wszystkie wiadomości oraz zdjęcia wymieniane podczas korzystania z Kujon są tymczasowe
                                i znikają po upływie czasu lub wymianie pewnej liczby wiadomości.
                            </li>
                        </ol>
                        <h2>V. PRAWA INTELEKTUALNE I LICENCJE</h2>
                        <ol>
                            <li>Użytkownik musi zaakceptować Regulamin.</li>
                            <li>Możesz korzystać z Kujon tylko w celach prywatnych.</li>
                            <li>Kujon, jak również wszelkie dotyczące go dane i informacje, wliczając w to teksty,
                                rozwiązania nawigacyjne (techniczne), loga, element graficzne etc. stanowią własność
                                Firmy lub podmiotów trzecich, zgodnie z ustawą o Prawie Autorskim z of 1994.
                            </li>
                            <li>Gdy zaczynasz korzystać z Kujon, Firma udziela Ci licencji na korzystanie z Kujon na
                                Twoim urządzeniu mobilnym. Nie masz wyłącznego prawa do korzystania z tej licencji, jak
                                również nie masz prawa do jej przenoszenia ani dysponowania nią.
                            </li>
                        </ol>
                        <h2>VI. ODPOWIEDZIALNOŚĆ </h2>
                        <ol>
                            <li>Staramy się zapewnić jak najlepsze funkcjonowanie Aplikacji. Nie jesteśmy jednak w
                                stanie zagwarantować stałego dostępu do wszystkich jej funkcjonalności oraz ich
                                idealnego działania.
                            </li>
                            <li>Kujon nie jest odpowiedzialna za:
                                <ol style="list-style-type: lower-latin;">
                                    <li>Szkody spowodowane naruszeniem praw stron trzecich</li>
                                    <li>Szkody spowodowane zakłóceniami funkcjonalności Aplikacji,</li>
                                    <li>Usługi, aplikacje i strony internetowe udostępniane przez strony trzecie.</li>
                                </ol>
                            </li>
                            <li>Kujon nie jest również odpowiedzialna za ograniczenia oraz problem techniczne operatorów
                                internet, które uniemożliwiają lub ograniczają dostęp do Aplikacji.
                            </li>
                        </ol>
                        <h2>VII. REKLAMACJE</h2>
                        <ol>
                            <li>Reklamacje związane z aplikacją, świadczonymi usługami lub inne pytania prosimy kierować
                                na adres <a href="mailto:kujon@kujon.mobi">kujon@kujon.mobi</a>.
                            </li>
                            <li>W ciągu 10 dni od otrzymania reklamacji, zostaniesz poinformowany o jej wyniku. Możemy
                                się zwrócić z prośbą o dodatkowe informacje, w przypadku gdy będą niezbędne do
                                rozstrzygnięcia reklamacji.
                            </li>
                        </ol>
                        <h2>VIII. POLITYKA PRYWATNOŚCI</h2>

                        <div class="entry">

                            <p>Kujon (“Challange”, “my” lub “Firma”) szanuje prywatność swoich
                                użytkowników (“ty”), czego przykład stanowi niniejsza Polityka Prywatności, opracowana
                                by okazać oddanie ochronie twoich prywatnych danych. Niniejsza Polityka Prywatności
                                przedstawia, zgodnie z wymaganiami Ustawy o Ochronie Danych Osobowych z 1997 r.
                                (“Ustawa”), informacje, które są przez nas pozyskiwane, sposób ich użycia oraz podmioty,
                                którym zostają one udostępniane. Zachęcamy do zapoznania się z niniejszą Polityką
                                Prywatności. Poprzez korzystanie z naszej strony lub Aplikacji (nasz “Serwis”), wyrażasz
                                akceptację praktyk zawartych w niniejszej Polityce Prywatności.</p>
                            <ol>
                                <li>Administratorem danych, zgodnie z określeniem Ustawy jest ..... Sp. z
                                    o.o., spółka zarejestrowana w Polsce i podlegająca jej prawom, z siedzibą w
                                    Warszawie (.....), przy ul. ...., KRS: ...., NIP: .....
                                    (“Administrator”).
                                </li>
                                <li>Dane osobiste są przetwarzane przez Administratora w celu zapewnienia możliwości
                                    pełnego korzystania z funkcjonalności Kujon oraz weryfikacji wieku użytkownika.
                                    Możemy użyć informacji, które zbieramy w celu:
                                    <ol style="list-style-type:lower-latin">
                                        <li>Dostarczania i ulepszania naszych produktów, usług oraz zarządzania naszą
                                            Firmą;
                                        </li>
                                        <li>Wykonywania badań oraz analiz dotyczących sposobu korzystania z aplikacji.
                                        </li>
                                        <li>Komunikacji z tobą</li>
                                        <li>Analizy strony internetowej oraz samej aplikacji</li>
                                        <li>Egzekwowania zasad zawartych w Regulaminie;</li>
                                        <li>Wykonywania funkcji i usług wyszczególnionych w momencie pobrania danych.
                                        </li>
                                    </ol>
                                </li>
                                <li>Dane osobiste pozyskiwane przez Administratora zawierają:
                                    <ol style="list-style-type:lower-latin">
                                        <li>Adres email (opcjonalnie)</li>
                                        <li>Login oraz nazwa użytkownika w aplikacji</li>
                                        <li>Data urodzenia (w celu weryfikacji wieku)</li>
                                        <li>Zdjęcia (opcjonalnie)</li>
                                        <li>Lokalizacja użytkownika</li>
                                        <li>Płeć (opcjonalnie)</li>
                                    </ol>
                                </li>
                                <li>Dane są przetwarzane zgodnie z odpowiednimi regulacjami, łącznie z Ustawą oraz
                                    Ustawą o Świadczeniu Usług Elektronicznych.
                                </li>
                                <li>Masz prawo do dostępu, zmiany, uzupełnienia i w uzasadnionym przypadku – do
                                    wymagania usunięcia twoich danych oraz zaprzestania ich przetwarzania. W tym celu
                                    powinieneś powiadomić Administratora lub skorzystać z opcji dostępnych w interfejsie
                                    kujon. Możesz przeglądać i aktualizować swoje osobiste dane wewnątrz kujon,
                                    poprzez uruchomienie aplikacji i przejście do ustawień.
                                </li>
                                <li>Informacje o twoim numerze IP oraz twoim urządzeniu, jak również inne dane dotyczące
                                    twoich aktywności również mogą być przetwarzane.
                                </li>
                                <li>Chcemy pomóc w ochronie twoich danych i uniemożliwieniu dostępu do nich przez
                                    podmioty niepożądane. Pamiętaj jednak, że żaden system nie jest całkowicie
                                    bezpieczny. Dlatego, pomimo wszelkich starań z naszej strony mających na celu
                                    ochronę twoich danych, nie możemy obiecać, że twoje dane osobiste, zawartość
                                    konwersacji i inne formy komunikacji zawsze pozostaną bezpieczne. Użytkownicy
                                    również powinni ostrożnie podchodzić do kwestii udostępniania wrażliwych informacji
                                    dla osób trzecich oraz unikać ich przesyłania, w szczególności poprzez podejrzane
                                    adresy email.
                                </li>
                                <li><p>Dane, które udostępniasz</p>
                                    <p>Możemy pozyskiwać i gromadzić zdjęcia i obrazy, które ustawiasz jako zdjęcie profilowe.
                                Możesz również dostarczyć informację dotyczącą twojej płci.<br>Jeśli za pośrednictwem
                                Aplikacji prowadzisz konwersacje z innymi użytkownikami.<br>Ograniczamy
                                grupę odbiorców naszych Serwisów do osób, które ukończyły co najmniej 18 lat. Świadomie
                                nie pozyskujemy, nie przetwarzamy ani nie używamy informacji dostarczonych przez
                                użytkowników, którzy nie ukończyli 18 roku życia.</p>
                                 <p>Niniejsza Polityka Prywatności może zostać zaktualizowana. W momencie dokonania
                                aktualizacji Polityki Prywatności, umieścimy jej najnowszą wersję wraz z datą
                                wprowadzenia zmian na górze podstrony „Polityka Prywatności” w ramach naszego Serwisu.
                                Zalecamy okazjonalne sprawdzanie naszych Serwisów, w celu zapoznania się ze zmianami w
                                naszej Polityce Prywatności etc.</p>
                                </li>

                        </div>


                        <h2>IX. POSTANOWIENIA KOŃCOWE</h2>
                        <ol>
                            <li>Kujon jest upoważniona do dokonywania zmian w niniejszej Umowie w dowolnym momencie.
                                Jako użytkownik, zostaniesz poinformowany o zmianach z co najmniej 7 dniowym
                                wyprzedzeniem. W przypadku braku zgody na proponowane zmiany, masz prawo do zerwania
                                niniejszej Umowy.
                            </li>
                            <li>Aktualna wersja Umowy dostępna jest na stronie internetowej
                                <a href="https://kujon.mobi/#disclaimer">kujon.mobi/#disclaimer</a> – możesz
                                ją pobrać i wydrukować. Umowa jest wiażąca od momentu jej akceptacji oraz rozpoczęcia
                                korzystania z Aplikacji.
                            </li>
                            <li>Niniejsza Umowa jest regulowana przez prawo polskie.</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>