<section id="faculties">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 content table-responsive">
                <div class="heading">
                    <h2>Jednostki</h2>
                </div>
                <table id="table-faculties" class="table" cellspacing="0" width="100%">
                    <thead>
                    <tr>
                        <th data-sortable="true">Nazwa</th>
                        <th data-sortable="true">Strona www</th>
                        <th data-sortable="true">Adres na mapie</th>
                        <th data-sortable="true">Numer telefonów</th>
                        <th data-sortable="true">Statystyki</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#data}}
                    <tr>
                        <td>{{name}}</td>
                        <td><a href="{{homepage_url}}" target="_blank"><img src="{{logo_urls.100x100}}"></a></td>
                        <td><a href="https://maps.google.pl/?q={{postal_address}}"
                               target="_blank">{{postal_address}}</a></td>
                        <td>{{phone_numbers}}</td>
                        <td>przedmioty: {{stats.course_count}}<br>
                            kierunki: {{stats.programme_count}}<br>
                            personel: {{stats.staff_count}}
                        </td>
                    </tr>
                    {{/data}}
                    </tbody>
                </table>

            </div>

        </div>
    </div>
</section>
