<section id="friends">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-xs-12 content">
                <div class="heading">
                    <h2>Znajomi</h2>
                </div>
                <div class="eksport">
                    <a href="#" class="btn btn-default btn-welcome" type="submit">Eksportuj z Facebook</a>
                </div>
            </div>
            <div class="col-sm-8 col-xs-12">
                <!--Tabela znajomi -->
                <table id="table-friends" class="table" cellspacing="0" width="100%">
                    <thead>
                    <tr>
                        <th>Lista znajomych {{ total }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#friends}}
                    <tr class="col-sm-6 col-xs-12 btn-friends" data-friendId="{{user_id}}">
                        <td class="col-sm-12 col-xs-12">
                            <div class="col-sm-2 col-xs-2">
                                <img src="/static/img/friend.png" class="img-responsive"/>
                            </div>
                            <div class="col-sm-8 col-xs-8">
                                <h5>{{first_name}} {{last_name}}</h5>
                            </div>
                            <div class="col-sm-2 col-xs-2">
                                <p><span class="del">Usuń</span></p>
                            </div>
                        </td>
                    </tr>
                    {{/friends}}
                </table>

            </div>
            <div class="col-sm-4 table-responsive">
                <!--Tabela dodaj znajomych -->
                <table id="table-find-friends" class="table add-friends" cellspacing="0" width="100%">
                    <thead>
                    <tr class="col-sm-12 col-xs-12">
                        <th class="title-find-friends">Osoby, które możesz znać</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="col-sm-6 col-xs-12">
                        <td class="col-sm-12">
                            <div class="col-sm-2 col-xs-2">
                                <img src="/static/img/friend.png" class="img-responsive"/>
                            </div>
                            <div class="col-sm-8 col-xs-8">
                                <h5>Jan Kowalski</h5>
                                <!--
                                <p>Uniwersytet im. Adama Mickiewicza w Poznaniu</p>
                              -->
                            </div>
                            <div class="col-sm-2 col-xs-2">
                                <p><span class="add">Dodaj</span></p>
                            </div>
                        </td>
                    </tr>
                    <tr class="col-sm-6 col-xs-12">
                        <td class="col-sm-12">
                            <div class="col-sm-2 col-xs-2">
                                <img src="/static/img/friend.png" class="img-responsive"/>
                            </div>
                            <div class="col-sm-8 col-xs-8">
                                <h5>Jan Kowalski</h5>
                            </div>
                            <div class="col-sm-2 col-xs-2">
                                <p><span class="add">Dodaj</span></p>
                            </div>
                        </td>
                    </tr>
                    <tr class="col-sm-6 col-xs-12">
                        <td class="col-sm-12">
                            <div class="col-sm-2 col-xs-2">
                                <img src="/static/img/friend.png" class="img-responsive"/>
                            </div>
                            <div class="col-sm-8 col-xs-8">
                                <h5>Jan Kowalski</h5>
                            </div>
                            <div class="col-sm-2 col-xs-2">
                                <p><span class="add">Dodaj</span></p>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

<div id="modalWrapper"></div>
