<section id="grades">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 content table-responsive grades">
				<div class="heading">
					<h2>Oceny</h2>
				</div>
				<table id="table-grades" class="table" cellspacing="0" width="100%">
					<thead>
					<tr>
						<th data-sortable="true">Semestr</th>
						<th data-sortable="true">Przedmiot</th>
						<th data-sortable="true">Termin</th>
						<th data-sortable="true">Rodzaj</th>
						<th data-sortable="true">Ocena</th>
						<th data-sortable="true">Słownie</th>
					</tr>
					</thead>
					<tbody>
					{{#data}}
					<tr>
						<td>{{term_id}}</td>
						<td class="courses-modal" data-toggle="modal" data-target="#list-student"
							data-courseId="{{course_id}}" data-termId="{{term_id}}">{{course_name}}
						</td>
						<td>{{exam_session_number}}</td>
						<td>{{class_type}}</td>
						<td>{{value_symbol}}</td>
						<td>{{value_description}}</td>
					</tr>
					{{/data}}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</section>

<div id="modalWrapper"></div>