<div class="panel panel-default">
    <div class="panel-heading">
        <h4>Oceny</h4>
    </div>
    <div class="panel-body">
        <table id="grades-table" class="table table-hover table-responsive">
            <thead>
            <th>Semestr</th>
            <th>Przedmiot</th>
            <th>Termin</th>
            <th>Rodzaj</th>
            <th>Ocena</th>
            <th>Słownie</th>
            </thead>
            <tbody>

            {{#data}}
            <tr>
                <td>{{term_id}}</td>
                <td>
                    <a class="btn btn-link course-btn" type="button" data-courseId="{{course_id}}" data-termId="{{term_id}}">{{course_name}}</a>
                </td>
                <td>{{exam_session_number}}</td>
                <td>{{class_type}}</td>
                <td>{{value_symbol}}</td>
                <td>{{value_description}}</td>
                </tr>
            </tr>
            {{/data}}

            </tbody>
        </table>
    </div>
</div>

<div id="modalWrapper"></div>