<div class="row row-offcanvas row-offcanvas-right">

<div class="col-xs-12 col-sm-12">

  <div class="jumbotron">
    <h1>Witamy w kujonie!</h1>
    <p>Dziękujemy za rejestrację, masz teraz podgląd do swoich danych w USOS.</p>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-4">
      <h2>Dane z USOSa</h2>
      <p>Dzięki dostępowi do USOSa masz możliwość przeglądania swoich przedmiotów, ocen, kontaktu do nauczycieli a także planu zajęć.
        Jeżeli uważasz że przydadzą Ci się dodatkowe informacje - napisz do nas :)
      </p>
    </div>
    <div class="col-xs-12 col-md-4">
      <h2>Wersja mobilna</h2>
      <p>Kujon to przede wszystkim aplikacja moblina. W tej chwili obsługujemy tylko platformę Android, ale w
        najbliższym czasie planujemy wdrożenie wersji na IOS oraz Windows Phone. </p>
      <p><a class="link-name" href="https://itunes.apple.com/pl/app/mobi.kujon"></a><a href="https://play.google.com/store/apps/details?id=mobi.kujon" target="_blank"><img src="/static/img/pobierz-z-google-play.png" alt=""></a>
      </p>
    </div>
    <div class="col-xs-12 col-md-4">
      <h2>Integracja z Facebook</h2>
      <p>Poprzez integrację z Twoim kontem na Facebooku już niedługo będziesz mógł połączyć grupę z
        uczelni z grupą na facebooku i rozmawiać ze znajomymi z jednej grupy. Kujon pomoże też połączyć Ci kontakty z uczelni z
      tymi z facebooka.
      </p>
      <button class="btn btn-primary" href="https://facebook.com/kujon.mobi"><i class="fa fa-thumbs-up">
        Polub Kujona!</i> </button>

    </div>
  </div>
</div>
</div>
</div>
</div>