<section id="lecturers">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 content table-responsive prof">
                <div class="heading">
                    <h2>Wykładowcy</h2>
                </div>
                <table id="table-lecturers" class="table" cellspacing="0" width="100%">
                    <thead>
                    <tr>
                        <th data-sortable="true">Nazwisko</th>
                        <th data-sortable="true">Imię</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#data}}
                    <tr class="lecturer-btn" data-lecturerId="{{user_id}}">
                        <td>{{last_name}}</td>
                        <td>{{first_name}}</td>
                    </tr>
                    {{/data}}


                    </tbody>
                </table>

            </div>

        </div>
    </div>

</section>


<div id="modalWrapper"></div>
