<table>
    <tbody>
    <tr>
        <td >
            <table class="table table-strip table-responsive">
            <tr><td>Tytuł</td><td>{{titles.before}}{{DEPLOY_URL}}</td>
                <td></td>
            </tr>
            <tr><td>Status pracownika</td><td>{{staff_status}}</td></tr>
            {{#if office_hours.pl}}
            <tr><td>Godziny przyjęć</td><td>{{office_hours}}</td></tr>
            {{/if}}
            <tr><td>Pokój</td><td>{{room.building_id}} - {{room.building_name.pl}}</td></tr>
            <tr><td>Email</td><td><a href="{{email_url}}" target="_blank">Pokaż email</a></td></tr>
            {{#if homepage_url}}
            <tr><td>Strona domowa</td><td><a href="{{homepage_url}}" target="_blank">{{homepage_url}}</a></td></tr>
            {{/if}}
            {{#if interests.pl}}
                <tr><td>Zainteresowania</td><td>{{interests}}</td></tr>
            {{/if}}
            {{#if employment_positions}}
            <tr><td>Zatrudnienie</td><td></td></tr>
            {{#employment_positions}}
            <tr><td></td><td>{{position.name}} w {{faculty.name}}</td></tr>
            {{/employment_positions}}
            {{/if}}
            {{#if course_editions_conducted}}
            <tr><td>Prowadzone przedmioty</td></tr>
            <tr><td></td>
               <td>
               <div class="span4 collapse-group">
                   <p class="collapse" id="viewLecturer{{id}}">
                   {{#course_editions_conducted}}
                     <button class="btn btn-link" type="button" data-toggle="modal" data-target="#courseModal" data-termId="{{term_id}}" data-courseId="{{course_id}}">
                        {{course_name}} {{term_id}}
                     </button><br>
                   {{/course_editions_conducted}}
                   </p>
                   <p><a class="btn" data-toggle="collapse" data-target="#viewLecturer{{id}}">Pokaż przedmioty</a></p>
               </div>
               </td>
            </tr>
            {{/if}}
            </table>
        <td>
        {{#if has_photo}}
        <div class="img-thumbnail">
            <img src="{{has_photo}}" >
        </div>
        </td>
        {{/if}}
    </tr>
    </tbody>
</table>
