<div class="modal fade" id="lecturerModal{{lecturer_id}}" tabindex="-1" role="dialog"
	 aria-labelledby="myModalLabel">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
						aria-hidden="true">&times;</span></button>
				<p class="modal-title" id="myModalLabel">Wykładowca {{first_name}} {{last_name}}</p>
			</div>
			<div class="modal-body wykladowcy-modal">
				<div class="row">
					<div class="col-sm-12 col-xs-12">
						<div class="col-sm-3 col-xs-6 edit">
							<div class="profil">
								{{#if photo_url}}
								<img src="{{photo_url}}" class="img-responsive profil-img">
								{{/if}}
							</div>
						</div>

						<div class="col-sm-8">
							<div class="row">
								<div class="col-sm-12">
									<h2>{{first_name}} {{last_name}}</h2>
								</div>
								<div class="col-sm-6 status">
									<p>Status</p>
									<p><span>{{staff_status}}</span></p>
								</div>
								<div class="col-sm-6 adres">
									<p>E-mail</p>
									<a><a href="{{email_url}}"></a><span>Pokaż</span></a></p>
								</div>
								<div class="col-sm-6 sale">
									<p>Pokój</p>
									<p><span>{{room.building_id}} - {{room.building_name.pl}}</span></p>
								</div>
								{{#if homepage_url}}
								<div class="col-sm-6 przedmioty">
									<p>Strona domowa</p>
									<p href="{{homepage_url}}" target="_blank"><span>{{homepage_url}}</span></p>
								</div>
								{{/if}}
								{{#if interests.pl}}
								<div class="col-sm-6 przedmioty">
									<p>Zainteresowania</p>
									<p><span>{{interests}}</span></p>
								</div>
								{{/if}}
								{{#if employment_positions}}
								{{#employment_positions}}
								<div class="col-sm-6 przedmioty">
									<p></p>
									<p><span>{{position.name}} w {{faculty.name}}</span></p>
								</div>
								{{/employment_positions}}
								{{/if}}
								{{#if course_editions_conducted}}
								<div class="col-sm-12 ostatnie-tematy">
									<p>Przedmioty</p>
									{{#course_editions_conducted}}
									<ol>
										<li>
											<p>{{course_name}} ({{course_id}}), {{term_id}}</p>
										</li>
									</ol>
									{{/course_editions_conducted}}
								</div>
								{{/if}}
							</div>
						</div>
					</div>
				</div>
			</div>

    </div>
	</div>
</div>