<div class="modal fade" id="courseModal{{courseId}}" tabindex="-1" id="lista-studentow" role="dialog"
	 aria-labelledby="gridSystemModalLabel">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
						aria-hidden="true">&times;</span></button>
				<p class="modal-title" id="gridSystemModalLabel">{{course_name}} ({{course_id}})</p>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-sm-12">
						<div class="col-sm-12 przedmiot-modal">
							<div class="col-sm-5">
								<p class="tytul-przedmioty">Jednostka:</p>
								<p class="opis-przedmioty"><span>{{fac_id.name}}, {{fac_id.postal_address}}, tel.: {{fac_id.phone_numbers}}</span>
								</p>
							</div>
							<div class="col-sm-5">
								<p class="tytul-przedmioty">Cykl:</p>
								{{#if term}}
								<p class="opis-przedmioty"><span>{{term.name}} od {{term.start_date}} do {{term.end_date}}</span>
								</p>
								{{/if}}
							</div>
							<div class="col-sm-2">
								<p class="tytul-przedmioty">Prowadzący</p>
								{{#lecturers}}
								<p class="opis-przedmioty"><span>{{first_name}} {{last_name}}</span></p>
								{{/lecturers}}
							</div>
							<div class="col-sm-2">
								<p class="tytul-przedmioty">Koordynatorzy</p>
								{{#if coordinators}}
								{{#coordinators}}
								<p class="opis-przedmioty"><span>{{first_name}} {{last_name}}</span></p>
								{{/coordinators}}
								{{/if}}
							</div>
							<div class="col-sm-2">
								<p class="tytul-przedmioty">Krytera oceny:</p>
								{{#if assessment_criteria}}
								<p data-toggle="modal" data-target="#kryteria-oceny" class="kryteria-oceny"><span>{{assessment_criteria}}</span>
								</p>
								{{/if}}
							</div>
							<div class="col-sm-3">
								<p class="tytul-przedmioty">Typ zajęć</p>
								{{#groups}}
								<p class="opis-przedmioty"><span>{{class_type}}, numer grupy: {{group_number}}</span>
								</p>
								{{/groups}}
							</div>
						</div>
						<div class="col-sm-12">
							<div class="col-sm-5">
								<div class="row">
									<div class="col-sm-6">
										<p class="tytul-przedmioty">Język prowadzenia:</p>
                            {{#if lang_id}}
										<p class="opis-przedmioty"><span>{{lang_id}}</span></p>
                            {{/if}}
									</div>
									<div class="col-sm-6">
										<p class="tytul-przedmioty">Czy jest prowadzony:</p>
										<p class="opis-przedmioty"><span>{{is_currently_conducted}}</span></p>
									</div>
								</div>
							</div>
							<div class="col-sm-2">
								<p class="tytul-przedmioty">Opis</p>
								<p class="opis-przedmioty opis-przedmiotu" data-toggle="modal"
								   data-target="#opis-przedmiotu"><span>{{description}}</span></p>
							</div>
							<div class="col-sm-2">
								<p class="tytul-przedmioty">Bibliografia:</p>
								{{#if bibliography}}
								<p class="kryteria-oceny opis-przedmioty" data-toggle="modal"
								   data-target="#bibliografia"><span>{{bibliography}}</span></p>
								{{/if}}
							</div>
							<div class="col-sm-3">
								<p class="tytul-przedmioty">Studenci:</p>
								{{#if participants}}
								{{#participants}}
								<p class="lista-studentow opis-przedmioty" data-toggle="modal"
								   data-target="#zobacz-liste-studentow"><span>{{last_name}} {{first_name}}</span></p>
								{{/participants}}

								{{/if}}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
