<div class="modal fade" id="courseModal{{courseId}}" tabindex="-1" id="list-student" role="dialog"
	 aria-labelledby="gridSystemModalLabel">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
						aria-hidden="true">&times;</span></button>
				<p class="modal-title" id="gridSystemModalLabel">{{course_name}} ({{course_id}})</p>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-sm-12">
						<div class="col-sm-12 przedmiot-modal">
							<div class="col-sm-5">
								<p class="tytul-przedmioty">Jednostka:</p>
								<p class="opis-przedmioty"><span>{{fac_id.name}}, {{fac_id.postal_address}}, tel.: {{fac_id.phone_numbers}}</span>
								</p>
							</div>
							<div class="col-sm-5">
								<p class="tytul-przedmioty">Cykl:</p>
								{{#if term}}
								<p class="opis-przedmioty"><span>{{term.name}} od {{term.start_date}} do {{term.end_date}}</span>
								</p>
								{{/if}}
							</div>
							<div class="col-sm-2">
								<p class="tytul-przedmioty">Prowadzący</p>
								{{#lecturers}}
								<button data-toggle="modal" data-target="#lecturers-1" class="description-courses"
										data-lecturerId="{{user_id}}">
									<span>{{first_name}} {{last_name}}</span>
								</button>
								<br>
								{{/lecturers}}
							</div>
							<div class="col-sm-2">
								<p class="tytul-przedmioty">Koordynatorzy</p>
								{{#if coordinators}}
								{{#coordinators}}
								<p class="opis-przedmioty"><span>{{first_name}} {{last_name}}</span></p>
								{{/coordinators}}
								{{/if}}
							</div>
							<div class="col-sm-2">
								<p class="title-courses" data-toggle="collapse" data-target="#collapseCriteria">Krytera
									oceny:</p>
								{{#if assessment_criteria}}
								<div class="collapse" id="collapseCriteria">
									<div class="well">
										<p class="description-courses"><span>{{assessment_criteria}}</span></p>
									</div>
								</div>
								{{/if}}
							</div>
							<div class="col-sm-3">
								<p class="tytul-przedmioty">Typ zajęć</p>
								{{#groups}}
								<p class="opis-przedmioty"><span>{{class_type}}, numer grupy: {{group_number}}</span>
								</p>
								{{/groups}}
							</div>
						</div>
						<div class="col-sm-12">
							<div class="col-sm-5">
								<div class="row">
									<div class="col-sm-6">
										<p class="tytul-przedmioty">Język prowadzenia:</p>
                            {{#if lang_id}}
										<p class="opis-przedmioty"><span>{{lang_id}}</span></p>
                            {{/if}}
									</div>
									<div class="col-sm-6">
										<p class="tytul-przedmioty">Czy jest prowadzony:</p>
										<p class="opis-przedmioty"><span>{{is_currently_conducted}}</span></p>
									</div>
								</div>
							</div>
							<div class="col-sm-2">
								<p class="title-courses" data-toggle="collapse" data-target="#collapseDescription">
									Opis:</p>
								<div class="collapse" id="collapseDescription">
									<div class="well">
										<p class="description-courses">
											<span>{{nl2br description}}</span></p>
									</div>
								</div>
							</div>
							<div class="col-sm-2">
								{{#if bibliography}}
								<p class="title-courses" data-toggle="collapse" data-target="#collapseBiblio">
									Bibliografia:</p>
								<div class="collapse" id="collapseBiblio">
									<div class="well">
										<p class="description-courses"><span>{{nl2br bibliography}}</span></p>
									</div>
								</div>
								{{/if}}
							</div>
							<div class="col-sm-3">
								{{#if participants}}
								<p class="title-courses" data-toggle="collapse" data-target="#collapseStudents">
									Studenci:</p>
								<div class="collapse" id="collapseStudents">
									<div class="well">
										{{#participants}}
										<button data-toggle="modal" data-target="#lecturers-1"
												class="description-courses"
												data-lecturerId="{{user_id}}">
											<span>{{first_name}} {{last_name}}</span>
										</button>
										<br>
										{{/participants}}
									</div>
								</div>
								{{/if}}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
