<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#home">{{PROJECT_TITLE}}</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                {{#if USER_LOGGED}}
                    {{#if USOS_PAIRED}}
                    <li><a href="#user">Użytkownik</a></li>
                    <li><a href="#tt">Plan</a></li>
                    <li><a href="#courses">Przedmioty</a></li>
                    <li><a href="#grades">Oceny</a></li>
                    <li><a href="#lecturers">Nauczyciele</a></li>

                    <li class="dropdown">
                          <a class="dropdown-toggle" data-toggle="dropdown" role="button"
                             aria-haspopup="true" aria-expanded="false">Uczelnia<span class="caret"></span></a>
                          <ul class="dropdown-menu">
                              <li><a href="#terms">Cykle</a></li>
                              <li><a href="#programmes">Kierunki</a></li>
                          </ul>
                    </li>
                    {{/if}}
                {{/if}}

            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li id="spinner"><a class="fa fa-spinner fa-pulse"></a></li>
                {{#if USER_LOGGED }}
                <li><a href="/authentication/logout"><img src="static/img/logout.png" width="24px"> Wyloguj</a></li>
                {{else}}
                <li class="dropdown" href="#login">
                    <a href="/authentication/login" class="dropdown-toggle" data-toggle="dropdown" role="button"
                       aria-haspopup="true" aria-expanded="false"><img src="static/img/login.png" width="24px"> Zaloguj <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/authentication/google" class="fa fa-google-plus">Przez Google</a></li>
                        <li><a href="/authentication/facebook" class="fa fa-facebook-official"> Przez Facebook</a></li>
                    </ul>
                </li>
                {{/if}}
            </ul>
        </div>
    </div>
</nav>