<div class="panel panel-default">
    <div class="panel-heading">
        <h4>Kierunki</h4>
    </div>
    <div class="panel-body">
        <table class="table table-hover table-responsive">
            <thead>
            <th>Nazwa</th>
            <th>Numer</th>
            <th>Poziom</th>
            <th>Tryb</th>
            <th>Długość</th>
            </thead>
            <tbody>
            {{#data}}
            <tr>
                <td>{{programme.description}}</td>
                <td>{{programme.id}}</td>
                <td>{{programme.level_of_studies}}</td>
                <td>{{programme.mode_of_studies}}</td>
                <td>{{programme.duration}}</td>
            </tr>
            {{/data}}
            </tbody>
        </table>
    </div>
</div>