<section id="programmes">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 content table-responsive prof">
                <div class="heading">
                    <h2>Kierunki</h2>
                </div>
                <table id="table-programmes" class="table" cellspacing="0" width="100%">
                    <thead>
                    <tr>
                        <th data-sortable="true">Opis</th>
                        <th data-sortable="true">Numer</th>
                        <th data-sortable="true">Poziom</th>
                        <th data-sortable="true">Tryb</th>
                        <th data-sortable="true">Długość</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#data}}
                    <tr>
                        <td>{{programme.description}}</td>
                        <td>{{programme.id}}</td>
                        <td>{{programme.level_of_studies}}</td>
                        <td>{{programme.mode_of_studies}}</td>
                        <td>{{programme.duration}}</td>
                    </tr>
                    {{/data}}
                    </tbody>
                </table>

            </div>

        </div>
    </div>
</section>
