<div class="panel panel-default">

    <div>
    <p class="panel-body" class="col-md-12 brd">
        <p class="text-center">Aby móc pracować w kujonie - wybierz uczelnie na której masz konto w USOS, przekierujemy Cię abyś sie zalogował..
        </p>
        <br>
    </div>

    <div class="row">
        {{#data}}
            <div class="thumbnail">
                <a class="user-register-form" href="#" data-usosId="{{usos_id}}">
                    <img src="{{logo}}" alt="{{name}}" class="img-responsive">
                    <div class="caption"><strong>{{name}}</strong></div>
                </a>
            </div>
        {{/data}}
    </div>

</div>