<div class="panel panel-default">

    <div class="row">

        <div class="col-lg-12">
            <h3 class="page-header">Aby móc pracować w kujonie - wybierz uczelnie na której masz konto,
                przekierujemy Cię abyś sie zalogował.</h3>
        </div>


        {{#data}}
        <div class="col-md-2 col-xs-4  thumb" >
            <a class="thumbnail user-register-form" href="#" data-usosId="{{usos_id}}">
                <img class="img-responsive" src="{{logo}}" alt="{{name}}">
                <div class="caption"><strong>{{name}}</strong></div>
            </a>
        </div>
        {{/data}}

        <hr>

    </div>
</div>