<section id="terms">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 content table-responsive">
                <div class="heading">
                    <h2>Cykle akademickie</h2>
                </div>
                <table id="table-terms" class="table" cellspacing="0" width="100%">
                    <thead>
                    <tr>
                        <th data-sortable="true">Nazwa</th>
                        <th data-sortable="true">Numer</th>
                        <th data-sortable="true">Status</th>
                        <th data-sortable="true">Data rozpoczęcia</th>
                        <th data-sortable="true">Data końcowa</th>
                        <th data-sortable="true">Data zakończenia</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#data}}
                    <tr>
                        <td>{{name}}</td>
                        <td>{{term_id}}</td>

                        {{#if active}}
                        <td class="gly-ok">Tak<span> <i class="glyphicon glyphicon-ok"></i></span></td>
                        {{else}}
                        <td class="during"><span>Nie</span></td>
                        {{/if}}
                        <td>{{start_date}}</td>
                        <td>{{end_date}}</td>
                        <td>{{finish_date}}</td>
                    </tr>
                    {{/data}}
                    </tbody>
                </table>

            </div>

        </div>
    </div>
</section>
