<div class="panel panel-default">
    <div class="panel-body">
        {{#if google}}
        <div class="row">
            <div class="col-xs-2">
                <img class="img-responsive" src="{{google.picture}}" alt="{{google.name}}" >
            </div>
            <div class="col-xs-10">
                <h3 class="media-heading">Google</h3>
                <table class="table table-hover table-responsive">
                    <thead>
                    <th></th>
                    <th></th>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Konto</td>
                        <td>{{google.name}}</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td>{{google.email}}</td>
                        <td></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        {{/if}}
        {{#if fb}}
        <div class="row">
            <div class="col-xs-2">
                <img class="img-responsive" src="{{fb.picture}}" alt="{{fb.name}}" >
            </div>
            <div class="col-xs-10">
                <h3 class="media-heading">Facebook</h3>
                <table class="table table-hover table-responsive">
                    <thead>
                    <th></th>
                    <th></th>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Konto</td>
                        <td>{{fb.name}}</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td>{{fb.email}}</td>
                        <td></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        {{/if}}

        <div class="row">
            <div class="col-xs-2">
                {{#if has_photo}}
                <img class="img-responsive" src="{{has_photo}}" alt="{{first_name}}">
                {{/if}}
            </div>
            <div class="col-xs-10">
                <h3 class="media-heading">Informacje studenckie</h3>
                <table class="table table-hover table-responsive">
                    <thead>
                    <th></th>
                    <th></th>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Uczelnia</td>
                        <td>{{usos_name}}</td>
                    </tr>
                    <tr>
                        <td>Imię i Nazwisko</td>
                        <td>{{first_name}} {{last_name}}</td>
                    </tr>
                    <tr>
                        <td>Status studenta</td>
                        <td>{{student_status}}</td>
                    </tr>
                    <tr>
                        <td>Numer indeksu</td>
                        <td>{{student_number}}</td>
                    </tr>
                    {{#if user_email}}
                    <tr>
                        <td>Email</td>
                        <td>{{user_email}}</td>
                    </tr>
                    {{/if}}
                    <tr>
                        <td>Kierunki</td>
                        <td></td>
                    </tr>
                    {{#student_programmes}}
                    <tr>
                        <td>{{id}}</td>
                        <td>{{programme.description}} ({{programme.id}})</td>
                    </tr>
                    {{/student_programmes}}
                    <tr>
                        <td>Numer konta</td>
                        <td>{{id}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>


    </div>
</div>