<section id="profil">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 content">
                <div class="col-sm-2 col-xs-6 edit">
                    <div class="profil">
                        {{#if photo_url}}
                        <img src="{{photo_url}}" alt="{{first_name}}" class="img-responsive profil-img"> {{/if}}
                    </div>
                </div>
                <div class="col-sm-10 col-xs-12">
                    <div class="row">
                        <div class="profil-head">
                            <div class="row">
                                <div class="col-sm-10">
                                    <h2>{{first_name}} {{last_name}}</h2>
                                    <p><span class="fa fa-university"></span><a class="nazwa-uniwersytetu"
                                                                                data-toggle="modal"
                                                                                data-target="#uniwersytet-1">{{usos_name}}
                                        <span></span></a></p>
                                </div>
                                <div class="col-sm-2 text-right">
                                    <p data-toggle="modal" data-target="#wykladowca-1">Usuń konto</p>
                                </div>
                            </div>
                        </div>
                        <div class="profil-info">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="dane">
                                                <p>Informacje z USOS</p>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-6 col-xs-6 gg">
                                                    <p><span>Nr indeksu</span></p>
                                                    <p>833741</p>
                                                </div>
                                                <div class="col-sm-6 col-xs-6 nr-konta">
                                                    <p><span>Nr konta</span></p>
                                                    <p>{{id}}</p>
                                                </div>
                                                <div class="col-sm-6 col-xs-6">
                                                    <p><span>E-mail</span></p>
                                                    <p>{{user_email}}</p>
                                                </div>
                                                <div class="col-sm-6 col-xs-6 status-profil">
                                                    <p><span>Status studenta</span></p>
                                                    <p class="active-status">{{student_status}}</p>
                                                </div>
                                                <div class="col-sm-6 col-xs-6">
                                                    <p><span>Data utworzenia konta</span></p>
                                                    <p>{{user_created}}</p>
                                                </div>
                                                <div class="col-sm-12 col-xs-12 kierunki">
                                                    <p><span>Kierunki</span></p>
                                                    <ol type="1">
                                                        {{#student_programmes}}
                                                        <li>{{programme.description}} ({{programme.id}})</li>
                                                        {{/student_programmes}}
                                                    </ol>
                                                </div>


                                            </div>
                                        </div>
                                        {{#if google}}
                                        <div class="col-md-6">
                                            <div class="dane">
                                                <p><span class="fa fa-google-plus"></span>Dane z Google
                                                </p>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-6 col-xs-6">
                                                    <p><span>Konto</span></p>
                                                    <p>{{google.name}}</p>
                                                </div>
                                                <div class="col-sm-6 col-xs-12">
                                                    <p><span>E-mail</span></p>
                                                    <p>{{google.email}}</p>
                                                </div>
                                            </div>
                                        </div>
                                        {{/if}} {{#if fb}}
                                        <div class="col-md-6">
                                            <div class="dane dane-fb">
                                                <p><span class="fa fa-facebook"></span>Dane z Facebook
                                                </p>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-6 col-xs-6">
                                                    <p><span>Konto</span></p>
                                                    <p>Facebook</p>
                                                </div>

                                                <div class="col-sm-6 col-xs-6">
                                                    <p><span>Data utworzenia</span></p>
                                                    <p>2016/03/25</p>
                                                </div>
                                                <div class="col-sm-6 col-xs-12">
                                                    <p><span>E-mail</span></p>
                                                    <p>{{user_email}}</p>
                                                </div>
                                            </div>
                                        </div>
                                        {{/if}}
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="row">
                            <table id="table-terms" class="table" cellspacing="0" width="100%">
                                <caption>Prace dyplomowe</caption>
                                <thead>
                                <tr>
                                    <th data-sortable="true">Numer</th>
                                    <th data-sortable="true">Typ</th>
                                    <th data-sortable="true">Tytuł</th>
                                    <th data-sortable="true">Jednostka</th>
                                    <th data-sortable="true">Koordynatorzy</th>
                                    <th data-sortable="true">Autorzy</th>
                                </tr>
                                </thead>
                                <tbody>
                                {{#theses}}
                                <tr>
                                    <td>{{id}}</td>
                                    <td>{{type}}</td>
                                    <td>{{title}}</td>
                                    <td>{{faculty.id}} {{faculty.name}}</td>
                                    <td>
                                        {{#supervisors}}
                                        <button data-toggle="modal" data-target="#lecturers-1"
                                                class="description-lecturer" data-lecturerId="{{id}}">
                                            <span>{{first_name}} {{last_name}}</span>
                                        </button>
                                        <br> {{/supervisors}}
                                    </td>
                                    <td>
                                        {{#authors}}
                                        <button data-toggle="modal" data-target="#lecturers-1" class="description-user"
                                                data-userId="{{id}}">
                                            <span>{{first_name}} {{last_name}}</span>
                                        </button>
                                        <br> {{/authors}}
                                    </td>
                                </tr>
                                {{/theses}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="modal fade" id="wykladowca-1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <p class="modal-title" id="myModalLabel">Usuwanie konta</p>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12 usuwanie-konta text-center">
                        <h3>Czy na pewno chcesz usunąć<br> konto na <span>Kujon.mobi</span>?</h3>
                        <div class="col-sm-8 col-sm-offset-2 col-xs-12">
                            <div class="row">
                                <div class="col-sm-7 col-xs-12">
                                    <input class="col-xs-12" type="text" name="Usuń konto"
                                           placeholder="Wpisz adres email">
                                </div>
                                <div class="col-sm-5 col-xs-12">
                                    <a class="btn btn-default" href="{{API_URL}}/authentication/archive" role="button">Usuń
                                        konto</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
