<div class="panel panel-default">
    <div class="panel-body">
        <table class="table table-hover">
            <caption>Przedmioty</caption>
            <thead>
                <th>Semestr</th>
                <th>Nr przedmiotu</th>
                <th>Przedmiot</th>
                <th>Grupy</th>
            </thead>
            <tbody>
            {{#data}}
            <tr>
                <td>{{term_id}}</td>
                <td>{{course_id}}</td>
                <td>{{course_name}}</td>
                <td>
                <table class="table table-hover">
                {{#groups}}
                    <tr><td>{{class_type_id}}</td></tr>
                {{/groups}}
                </table>
                </td>
                <td><button class="btn btn-primary" href="#course">Opis</button></td>
                <td><button class="btn btn-primary" href="#grade">Oceny</button></td>
            </tr>
            {{/data}}
            </tbody>
        </table>
    </div>
</div>