<div class="panel panel-default">
    <div class="panel-body">
        <table class="table table-hover">
            <caption>Znajomi</caption>
            <thead>
                <th>Imię</th>
                <th>Nazwisko</th>
                <th>User Id</th>
            </thead>
            <tbody>
            {{#data}}
            <tr>
                <td>{{first_name}}</td>
                <td>{{last_name}}</td>
                <td>{{user_id}}</td>
                <td>
                    <button class="btn btn-primary btn-danger" onclick="friends_remove({{user_id}});">Usuń</button>
                </td>
            </tr>
            {{/data}}
            </tbody>
        </table>
    </div>
</div>