<div class="panel panel-default">
    <div class="panel-body">
        <table class="table table-hover">
            <caption>Oceny</caption>
            <thead>
            <th>Semestr</th>
            <th>Kod przedmiotu</th>
            <th>Przedmiot</th>
            <th>Oceny</th>
            </thead>
            <tbody>

            {{#data}}
            <tr>
                <td>{{term_id}}</td>
                <td>{{course_id}}</td>
                <td>{{course_name}}</td>
                <td>
                    <table class="table">
                        <thead>
                            <th>Termin</th>
                            <th>Rodzaj</th>
                            <th>Ocena</th>
                            <th>Słownie</th>
                            </thead>
                        <tbody>
                        {{#grades}}
                        <tr>
                            <td>{{exam_session_number}}</td>
                            <td>{{class_type}}</td>
                            <td>{{value_symbol}}</td>
                            <td>{{value_description}}</td>
                        </tr>
                        {{/grades}}
                        </tbody>
                    </table>
                </td>
            </tr>
            {{/data}}

            </tbody>
        </table>
    </div>
</div>