<div class="panel panel-default">
    <div class="panel-body">
        <table class="table table-hover">
            <thead>
            <th></th><th></th>
            </thead>
            <tbody>
                <tr><td>Imię i Nazwisko</td><td>{{first_name}} {{last_name}}</td></tr>
                <tr><td>Status pracownika</td><td>{{staff_status}}</td></tr>
                <tr><td>Strona domowa</td><td>{{homepage_url}}</td></tr>

                <tr><td>Prowadzone przedmioty</td><td></td></tr>
                {{#course_editions_conducted}}
                <tr><td></td><td>{{course_name.pl}} {{term_id}} {{lecturers.user_id}} {{lecturers.id}} {{course_id}}</td></tr>
                {{/course_editions_conducted}}

                <tr><td>Zainteresowania</td><td>{{interests.pl}}</td></tr>

                <tr><td>Zatrudnienie</td><td></td></tr>
                {{#employment_positions}}
                <tr><td></td><td>{{position.id}} {{position.name.pl}}</td></tr>
                {{/employment_positions}}

                <tr><td>Pokój</td><td>{{room.building_id}} {{room.building_name.pl}}</td></tr>
                <tr><td>Numer oraz Id</td><td>{{number}} {{id}}</td></tr>
                <tr><td>Godziny przyjęć</td><td>{{office_hours.pl}}</td></tr>
            </tbody>
        </table>

    </div>
</div>