<div class="panel panel-default">
    <div class="panel-body">

        <table class="table table-hover">
            <ol class="breadcrumb">
                <li class="active"><a href="#lecturers">Nauczyciele</a></li>
                <!--
                <li><a href="#">Library</a></li>
                -->
            </ol>

            <thead>
            <th>Imie</th>
            <th>Nazwisko</th>
            </thead>
            <tbody>

            {{#data}}
            <tr class="lecturer-row" data-id="{{user_id}}">
                <td>{{first_name}}</td>
                <td>{{last_name}}</td>
            </tr>
            {{/data}}

            </tbody>
        </table>
    </div>
</div>
<!--
<script>
     $('.lecturer-row').click(function() {
                //alert({name:$(this).attr("data-id")});
                alert($(this).attr("data-id"));
                //$('#details').html(detailsTemplate({name:$(this).attr("data-id")}));
            });
</script>
-->