<div class="panel panel-default">
    <div class="panel-body">
        <table class="table table-hover">
            <caption>Programy nauczania</caption>
            <thead>
            <th>Nazwa</th>
            <th>Numer</th>
            <th>Poziom</th>
            <th>Tryb</th>
            <th>Czas trwania</th>
            </thead>
            <tbody>

            {{#data}}
            <tr>
                <td>{{name.pl}}</td>
                <td>{{programme_id}}</td>
                <td>{{level_of_studies.pl}}</td>
                <td>{{mode_of_studies.pl}}</td>
                <td>{{duration.pl}}</td>
            </tr>
            {{/data}}

            </tbody>
        </table>
    </div>
</div>