<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Kujon</title>

    <!-- Bootstrap -->
    <link href="/static/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/bower_components/bootstrap-table/dist/bootstrap-table.min.css" rel="stylesheet">
    <link href="/static/bower_components/jquery-nice-select/css/nice-select.css" rel="stylesheet">

    <link href="/static/css/style.css" rel="stylesheet">
    <link href="/static/bower_components/jquery.cookiebar/dist/jquery.cookiebar.min.css" rel="stylesheet">

    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,100italic,300italic,400italic,500,500italic,700,700italic,900,900italic'
          rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="/static/bower_components/font-awesome/css/font-awesome.min.css">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="/static/bower_components/html5shiv/dist/html5shiv.min.js"></script>
    <script src="/static/bower_components/respond/dest/respond.min.js"></script>
    <![endif]-->

</head>
<body>
<nav class="navbar navbar-default nawigacja-app navbar-fixed-top" role="navigation" id="slide-nav">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="profil.html"><img src="img/logo.png" class="img-responsive"/></a>
        </div>
        <div id="slidemenu">
            <ul class="nav navbar-nav navbar-right login">
                <li class="app-notify"><a href="#"><span class="glyphicon glyphicon-bell" aria-hidden="true"></span></a>
                </li>
                <li class="dropdown">
                    <a href="profil.html" class="dropdown-toggle" data-toggle="dropdown"><img src="img/profil-head.png"
                                                                                              class="img-circle profil-nav">Jan
                        Kowalski <span class="glyphicon glyphicon-menu-down"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="index.html">Witamy</a></li>
                        <li><a href="zalogowano.html">Zalogowano</a></li>
                        <li><a href="wybor-uczelni.html">Wybór uczelni</a></li>
                        <li><a href="wykladowcy.html">Wykładowcy + modal</a></li>
                        <li><a href="cykle.html">Cykle</a></li>
                        <li><a href="profil.html">Profil</a></li>
                        <li><a href="oceny.html">Oceny</a></li>
                        <li><a href="przedmioty.html">Przedmioty</a></li>
                        <li><a href="plan-zajec.html">Plan zajęć</a></li>
                        <li><a href="regulamin.html">Regulamin</a></li>
                        <li><a href="kontakt.html">Kontakt</a></li>
                        <li><a href="kontakt2.html">Kontakt2</a></li>
                        <li><a href="spinner.html">Spinner</a></li>
                        <li><a href="znajomi.html">Znajomi</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-left">
                <li><a href="plan-zajec.html">Plan zajęć</a></li>
                <li><a href="przedmioty.html">Przedmioty</a></li>
                <li><a href="wykladowcy.html">Wykładowcy</a></li>
                <li><a href="oceny.html">Oceny</a></li>
                <li><a href="wybor-uczelni.html">Uczelnie</a></li>
                <li><a href="znajomi.html">Znajomi</a></li>
                <li><a href="kontakt.html">Kontakt</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div id="page-content">
    <section id="wykladowcy">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 content table-responsive prof">
                    <div class="naglowek-h2">
                        <h2>Wykładowcy</h2>
                    </div>
                    <table id="table-wykladowcy" class="table" cellspacing="0" width="100%">
                        <thead>
                        <tr>
                            <th data-sortable="true">Nazwisko</th>
                            <th data-sortable="true">Imię</th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr data-toggle="modal" data-target="#wykladowca-1">
                            <td>Brzozowska-Kruczek <span
                                    class="zobacz-wykladowce"> (Kliknij żeby zobaczyć wykładowce)</span></td>
                            <td>Justyna</td>
                        </tr>
                        <tr data-toggle="modal" data-target="#wykladowca-1">
                            <td>Grabowska <span class="zobacz-wykladowce"> (Kliknij żeby zobaczyć wykładowce)</span>
                            </td>
                            <td>Monika Krystyna</td>
                        </tr>
                        <tr data-toggle="modal" data-target="#wykladowca-1">
                            <td>Jastrzębska <span class="zobacz-wykladowce"> (Kliknij żeby zobaczyć wykładowce)</span>
                            </td>
                            <td>Zofia</td>
                        </tr>
                        <tr data-toggle="modal" data-target="#wykladowca-1">
                            <td>Jończyk <span class="zobacz-wykladowce"> (Kliknij żeby zobaczyć wykładowce)</span></td>
                            <td>Jarosław</td>
                        </tr>
                        <tr data-toggle="modal" data-target="#wykladowca-1">
                            <td>Jończyk <span class="zobacz-wykladowce"> (Kliknij żeby zobaczyć wykładowce)</span></td>
                            <td>Jarosław</td>
                        </tr>
                        <tr data-toggle="modal" data-target="#wykladowca-1">
                            <td>Jończyk <span class="zobacz-wykladowce"> (Kliknij żeby zobaczyć wykładowce)</span></td>
                            <td>Jarosław</td>
                        </tr>
                        <tr data-toggle="modal" data-target="#wykladowca-1">
                            <td>Jończyk <span class="zobacz-wykladowce"> (Kliknij żeby zobaczyć wykładowce)</span></td>
                            <td>Jarosław</td>
                        </tr>
                        <tr data-toggle="modal" data-target="#wykladowca-1">
                            <td>Jończyk <span class="zobacz-wykladowce"> (Kliknij żeby zobaczyć wykładowce)</span></td>
                            <td>Jarosław</td>
                        </tr>
                        <tr data-toggle="modal" data-target="#wykladowca-1">
                            <td>Jończyk <span class="zobacz-wykladowce"> (Kliknij żeby zobaczyć wykładowce)</span></td>
                            <td>Jarosław</td>
                        </tr>
                        <tr data-toggle="modal" data-target="#wykladowca-1">
                            <td>Jończyk <span class="zobacz-wykladowce"> (Kliknij żeby zobaczyć wykładowce)</span></td>
                            <td>Jarosław</td>
                        </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </section>
    <footer id="footer" class="navbar-static-bottom">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <p class="footer-block">Copyright 2016 by <a href="http://kujon.mobi">Kujon.mobi</a>. All rights
                        reserved.</p>
                </div>
                <div class="col-sm-6">
                    <ul class="nav navbar-nav navbar-right navbar-bottom">
                        <li><a href="#">Lista uczelni</a></li>
                        <li><a href="#">Regulamin</a></li>
                        <li><a href="#">Polityka prywatności</a></li>
                        <li><a href="#">Kontakt</a></li>
                        <li class="fb"><a href="#"><span class="fa fa-facebook"></span></a></li>
                        <li class="andr"><a href="#"><span class="fa fa-android"></span></a></li>
                        <li class="ios"><a href="#"><span class="fa fa-apple"></span></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <section class="error">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h1>ERROR</h1>
                    <p></p>
                </div>
            </div>
        </div>
    </section>

    <!-- Modal -->
    <div class="modal fade" id="wykladowca-1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <p class="modal-title" id="myModalLabel">Wykładowca - Justyna Brzozowska-Kruczek</p>
                </div>
                <div class="modal-body wykladowcy-modal">
                    <div class="row">
                        <div class="col-sm-12 col-xs-12">
                            <div class="col-sm-3 col-xs-6 edit">
                                <div class="profil">
                                    <img src="img/profil-wykladowcy.jpg" class="img-responsive profil-img">
                                </div>
                            </div>
                            <div class="col-sm-8 col-xs-12">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <h2>Justyna Brzozowska-Kruczek</h2>
                                    </div>
                                    <div class="col-sm-6 status">
                                        <p>Status</p>
                                        <p><span>Aktywny</span></p>
                                    </div>
                                    <div class="col-sm-6 adres">
                                        <p>Adres email</p>
                                        <p><span>justyna.brzozowska@gmail.com</span></p>
                                    </div>
                                    <div class="col-sm-6 sale">
                                        <p>Sale</p>
                                        <p><span>301, 302, 303</span></p>
                                    </div>
                                    <div class="col-sm-6 przedmioty">
                                        <p>Przedmioty</p>
                                        <p><span>Marketing, Technologie Internetowe</span></p>
                                    </div>
                                    <div class="col-sm-6 sale">
                                        <p>Sale</p>
                                        <p><span>301, 302, 303</span></p>
                                    </div>
                                    <div class="col-sm-6 przedmioty">
                                        <p>Przedmioty</p>
                                        <p><span>Marketing, Technologie Internetowe</span></p>
                                    </div>
                                    <div class="col-sm-12 ostatnie-tematy">
                                        <p>Ostatnie tematy</p>
                                        <ol>
                                            <li>
                                                <p>Suspendisse malesuada velit et libero sagittis, ut ornare magna
                                                    rutrum. Donec iaculis, dui ac tristique auctor, metus nisi tristique
                                                    mi, in auctor sapien nisl eget dolor. Morbi a dictum nibh.
                                                    Pellentesque habitant morbi tristique senectus et netus et malesuada
                                                    fames ac turpis egestas.</p>
                                            </li>
                                            <li>
                                                <p>Curabitur pulvinar lacus dapibus condimentum commodo. Sed
                                                    condimentum, sapien in feugiat rhoncus, nisi erat porttitor dui, sed
                                                    ornare leo lorem ac justo.</p>
                                            </li>
                                        </ol>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="/static/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/static/bower_components/jquery.easing/js/jquery.easing.min.js"></script>
<script src="/static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/static/bower_components/datatables/media/js/jquery.dataTables.min.js"></script>

<script src="/static/js/scripts2.js"></script>

</body>
</html>