<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Kujon - klient USOS</title>
    <meta name="description" content="Kujon - klient USOS">
    <meta name="keywords" content="kujon, kujon.mobi, usos, usosweb na smartphone, uczelnia, aplikacja, uniwersytet">

    <link hreflang="pl" href="{{ DEPLOY_WEB }}" rel="alternate"/>

    <link rel="shortcut icon" href="/static/favico.ico">
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>

    <!-- Bootstrap -->
    <link href="/static/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/bower_components/datatables/media/css/jquery.dataTables.min.css" rel="stylesheet">

    <!--    -->
    <link href="/static/css/style.css" rel="stylesheet">

    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,100italic,300italic,400italic,500,500italic,700,700italic,900,900italic'
          rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="/static/bower_components/font-awesome/css/font-awesome.min.css">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="/static/bower_components/html5shiv/dist/html5shiv.min.js"></script>
    <script src="/static/bower_components/respond/dest/respond.min.js"></script>
    <![endif]-->

    {% block header_js %}
    {% end %}

    <div class="modal fade" id="modalDisclaimer" tabindex="-1" role="dialog" aria-labelledby="disclaimerModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="col-sm-12">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h3>Regulamin i polityka prywatności</h3>
                    </div>
                </div>
                <div class="modal-body">

                </div>
            </div>
        </div>
    </div>

</head>
<body>


{% block navigation %}
{% end %}

{% block main %}
{% end %}

{% block footer_js %}
{% end %}

</body>
</html>
