{% extends "base.html" %} {% block main %}
<div class="site-wrapper">
    <div class="site-wrapper-inner">
        <div class="cover-container">
            <div class="inner cover">
                <div class="content">
                    <h1>Warunki użytkowania i polityka prywatności</h1>
                    <div class="entry">

                        <p>Witamy w Kujon udostępniony przez firmę Marao z siedzibą w Warszawie ul. Dickensa 31a/21,
                            REGON: 142968125, NIP: 1132027580 (“Operator” lub “My”).
                        </p>

                        <p>Korzystając z aplikacji Kujon lub strony internetowej pod adresem Kujon.mobi (wspólnie jako
                            “Kujon” lub “Aplikacja”) użytkownik zgadza się na warunki zawarte w Regulaminie (“Umowa”)
                            oraz potwierdza zapoznanie się z Polityką Prywatności,
                            odwołanie do której znajdzie w niniejszej Umowie. Jeśli użytkownik aplikacji nie zgadza się
                            ze wszystkimi zasadami zawartymi w niniejszej Umowie, łącznie z Polityką Prywatności,
                            prosimy o zaprzestanie korzystania z aplikacji.
                            W wypadku ewentualnych pytań pytań związanych z niniejszą Umową prosimy o kontakt.</p>
                        <h2>I. POSTANOWIENIA OGÓLNE</h2>
                        <ol>
                            <li>Polityka Prywatności jest częścią niniejszej umowy</li>
                            <li>Niniejsza Umowa spełnia wymagania Ustawy o świadczeniu usług drogą elektroniczną z 18
                                lipca 2002 roku, to znaczy określa świadczone usługi, wymagania (łącznie z wymaganiami
                                technicznymi), politykę prywatności, warunki świadczenia
                                usług elektronicznych, procedurę reklamacji.
                            </li>
                            <li>Poprzez akceptację niniejszej Umowy, przed lub w momencie instalacji Kujon, użytkownik
                                całkowicie zgadza się na jej warunki, bez konieczności zawarcia oddzielnej umowy.
                                Akceptacja niniejszej Umowy jest niezbędna do korzystania
                                z Kujon.
                            </li>
                            <li>Jeśli użytkownik chce wypowiedzieć akceptację niniejszej Umowy, jest proszony o
                                zaprzestanie używania Kujon, oraz usunięcie (odinstalowanie) aplikacji.
                            </li>
                            <li>Instalacja oraz korzystanie z Kujon są darmowe. Kwestia transmisji danych wymaganej w
                                celu pobrania i korzystania z Kujon stanowi przedmiot oddzielnej umowy pomiędzy
                                użytkownikiem Kujon, a dostawcą Internetu.
                            </li>
                        </ol>
                        <h2>II. ŚWIADCZONE USŁUGI</h2>
                        <ol>
                            <li>Kujon umożliwia pobieranie danych studenckich na które pobranie użytkownik wyraża zgodę
                                z Uczelni poprzez udostępniony interfejs.
                            </li>
                            </li>
                            <li>Kujon jest dostępny jako aplikacja na urządzenia mobilne (smartfony), spełniające
                                następujące wymagania:
                                <ol style="list-style-type: lower-latin;">
                                    <li>Dla Kujon na AppStore: iPhone 5 lub wyżej</li>
                                    <li>Dla Kujon na GooglePlay : Android 4.0 lub wyżej</li>
                                </ol>
                                a także jako aplikacja www dostępna pod adresem <a href="http://www.kujon.mobi">kujon.mobi</a>.
                            </li>
                            <li>Użytkownik zobowiązany jest do korzystania z Kujon w zgodzie z prawem, niniejszą Umową
                                oraz innymi ogólnymi zasadami życia społecznego. W szczególności jest zobowiązany do
                                korzystania z Kujon:
                                <ol style="list-style-type: lower-latin;">
                                    <li>w sposób nieutrudniający korzystania z aplikacji innym użytkownikom lub
                                        Operatorowi
                                    </li>
                                    <li>w sposób niezakłócający funkcjonowania aplikacji i systemów uniwersyteckich.
                                    </li>
                                </ol>
                            </li>
                            <li>U nas nie ma tolerancji dla niewłaściwych, szkodliwych treści.</li>
                            <li>W przypadku napotkania jakichkolwiek przypadków łamania powyższych zasad, użytkownik
                                jest zobowiązany natychmiastowego poinformowania Operatora wysyłając e-mail na adres <a
                                        href="mailto:kujon@kujon.mobi">kujon@kujon.mobi</a>.
                            </li>
                            <li>W przypadku zgłoszenia niewłaściwych lub szkodliwych treści (a także innych naruszeń
                                Regulaminu) Operator podejmie reakcję niezwłocznie. Reakcja może skutkować usunięciem
                                niewłaściwych treści oraz usunięciem konta użytkownika,
                                który te treści dodał.
                            </li>
                        </ol>
                        <h2>III. REJESTRACJA ORAZ ZAMKNIĘCIE KONTA</h2>
                        <ol>
                            <li>Aby uzyskać dostęp i możliwość korzystania z Kujon użytkownik musi mieć skończone 18
                                lat.
                            </li>
                            <li>Poprzez uruchomienie i korzystanie z Kujon, użytkownik poświadcza, że posiada prawo,
                                kompetencje oraz zdolność do zawarcia niniejszej Umowy, a także zobowiązuje się do
                                przestrzegania wszelkich jej warunków.
                            </li>
                            <li>Aby korzystać z Kujon, użytkownik musi się zarejestrować lub zalogować przy użyciu
                                swojego konta w serwisie Facebook lub Google. Konto Google i Facebook jest używane do
                                logowania aby nie potrzeba byo zakładać dodatkowego konta w Kujonie z wykorzystaniem
                                standardowych mechanizmów logowania Google i Facebook. Dodatkowo aplikacja prosi o
                                dostęp do kalendarza Google aby móc synchronizować wgrywać plan zajęć studenta z USOSa
                                do kalendarza Google. Opcja jest dobrowalna i może być wyłączona w sekcji ustawienia.
                            </li>
                            <li>Użytkownik może w dowolnej chwili zaprzestać korzystania z Kujon, w szczególności jeśli
                                nie akceptuje zmian w niniejszej Umowie, Polityce Prywatności lub w aplikacji Kujon.
                            </li>
                            <li>Niniejsza Umowa zawarta jest na czas nieokreślony. By rozwiązać Umowę, użytkownik
                                powinien usunąć aplikację ze swojego urządzenia mobilnego ewentualnie ma możliwość
                                usunięcia konta w serwisie
                                <a href="https://kujon.mobi/">kujon.mobi</a></li>
                            <li>Operator zastrzega sobie prawa do usunięcia lub zawieszenia konta użytkownika w dowolnej
                                chwili, bez podania dodatkowej informacji, w przypadku, gdy zaistnieją podejrzenia, że
                                użykownik zerwał niniejszą Umowę, złamał zapisy niniejszej umowy, bądź z innego powodu.
                            </li>
                            <li>Operator posiada prawo do zawieszenia działania Kujon lub do wycofania Kujon ww dowolnej
                                chwili, z dowolnego powodu, wprowadzania zmian oraz poszerzenia zakresu świadczonych
                                usług.
                            </li>
                        </ol>
                        <h2>IV. KORZYSTANIE Z APLIKACJI</h2>
                        <ol>
                            <li>Aby skorzystać z Kujon użytkownik musi posiadać Smartfon, lub inne urządzenia z systemem
                                operacyjnym Android lub Apple, urządzenie musi posiadać dostęp do Internetu oraz usług
                                lokalizacyjnych.
                            </li>
                            <li>Wszystkie wiadomości oraz zdjęcia wymieniane podczas korzystania z Kujon są tymczasowe i
                                znikają po upływie czasu lub podlegają nadpisaniu.
                            </li>
                        </ol>
                        <h2>V. PRAWA INTELEKTUALNE I LICENCJE</h2>
                        <ol>
                            <li>Użytkownik musi zaakceptować Regulamin.</li>
                            <li>Korzystanie z Kujon jest możliwe wyłącznie w celach prywatnych.</li>
                            <li>Kujon, jak również wszelkie dotyczące go dane i informacje, wliczając w to teksty,
                                rozwiązania nawigacyjne (techniczne), loga, element graficzne etc. stanowią własność
                                Operatora lub podmiotów trzecich, zgodnie z ustawą o Prawie
                                Autorskim z of 1994.
                            </li>
                            <li>Z chwilą rozpoczęcia korzystania z Kujon, Operator udziela użytkownikowi licencji na
                                korzystanie z Kujon na jego urządzeniu mobilnym. Użytkownik nie ma wyłącznego prawa do
                                korzystania z tej licencji, jak również nie ma prawa
                                do jej przenoszenia ani dysponowania nią.
                            </li>
                            <li>Kujon jest zintegrowany z uczelnią użytkownika poprzez API USOS czyli interfejs
                                Uniwersyteckiego Systemu Obsługi Studiów, którego właścicielem jest Międzyuniwersyteckie
                                Centrum ds. Informatyzacji (
                                <a href="http://muci.edu.pl/">MUCI</a>). Więcej informacji o USOS możesz znaleźć na
                                stronie <a href="https://www.usos.edu.pl/">www.usos.edu.pl</a> lub na stronie swojej
                                uczelni. Pamiętaj o przestrzeganiu regulaminu korzystania z USOS.
                            </li>
                            <li>Kujon integruje się także z portalami Facebook i Google których prawa intelektualne
                                należą do właścicieli tych portali. Regulamin i zasady obowiązujęce na Facebook są
                                dostępne pod adresem <a href="https://pl-pl.facebook.com/policies/">pl-pl.facebook.com/policies</a>
                                a Prywatność i warunki Gogole możesz przeczytać na stronie <a
                                        href="https://www.google.com/intl/pl/policies/">google.com/intl/pl/policies</a>.
                            </li>
                        </ol>
                        <h2>VI. ODPOWIEDZIALNOŚĆ </h2>
                        <ol>
                            <li>Operator dąży do zapewnienia jak najlepszego funkcjonowanie Aplikacji. Operator nie jest
                                jednak w stanie zagwarantować stałego dostępu do wszystkich jej funkcjonalności, ich
                                idealnego działania oraz przewidzieć wypadki losowę
                                mogące wpłynąć na działanie Kujon.
                            </li>
                            <li>Kujon nie jest odpowiedzialna za:
                                <ol style="list-style-type: lower-latin;">
                                    <li>Szkody spowodowane naruszeniem praw stron trzecich</li>
                                    <li>Szkody spowodowane zakłóceniami funkcjonalności Aplikacji,</li>
                                    <li>Usługi, aplikacje i strony internetowe udostępniane przez strony trzecie.</li>
                                </ol>
                            </li>
                            <li>Kujon nie jest również odpowiedzialna za ograniczenia oraz problem techniczne operatorów
                                internet, które uniemożliwiają lub ograniczają dostęp do Aplikacji.
                            </li>
                        </ol>
                        <h2>VII. REKLAMACJE</h2>
                        <ol>
                            <li>Reklamacje związane z aplikacją, świadczonymi usługami lub inne można kierować na adres
                                <a href="mailto:kujon@kujon.mobi">kujon@kujon.mobi</a></li>
                            <li>W ciągu 10 dni od otrzymania reklamacji, użytkownik zostanie poinformowany o jej wyniku.
                                Operator może zwrócić się do użytkownika z prośbą o dodatkowe informacje, w przypadku,
                                gdy będą niezbędne do rozstrzygnięcia reklamacji.
                            </li>
                        </ol>
                        <h2>VIII. POLITYKA PRYWATNOŚCI</h2>

                        <div class="entry">

                            <p>Kujon ("Operator") szanuje prywatność swoich użytkowników, czego przykład stanowi
                                niniejsza Polityka Prywatności, opracowana by okazać oddanie ochronie twoich prywatnych
                                danych. Niniejsza Polityka Prywatności przedstawia, zgodnie
                                z wymaganiami Ustawy o Ochronie Danych Osobowych z 1997 r. (“Ustawa”), informacje, które
                                są przez nas pozyskiwane, sposób ich użycia oraz podmioty, którym zostają one
                                udostępniane. Poprzez korzystanie z naszej strony lub Aplikacji (nasz “Serwis”),
                                wyrażasz akceptację praktyk zawartych w niniejszej Polityce Prywatności.</p>
                            <li>Dane osobiste użytkowników aplikacji nie są przetwarzane przez Operatora. Pobrane dane z
                                USOS są jedynie publikowane użytkownikowi w aplikacji mobilnej i nie są przechowywane i
                                przetwarzane przez Operatora. Po usunięciu aplikacji żadne dane na telefonie nie są
                                przechowywane.
                            </li>
                            <li>Informacje o twoim numerze IP oraz twoim urządzeniu, są zbierane w celu zabezpieczenia
                                logów bezpieczeństwa dostępu do aplikacji w powiązaniu z danymi konta Google i Facebook.
                            </li>
                            <li>Pliki cookies wykorzystywane są w celu: dostosowania zawartości stron internetowych
                                Serwisu do preferencji Użytkownika oraz optymalizacji korzystania ze stron
                                internetowych; w szczególności pliki te pozwalają rozpoznać urządzenie
                                Użytkownika Serwisu i odpowiednio wyświetlić stronę internetową, dostosowaną do jego
                                indywidualnych potrzeb; tworzenia statystyk, które pomagają zrozumieć, w jaki sposób
                                Użytkownicy Serwisu korzystają ze stron internetowych,
                                co umożliwia ulepszanie ich struktury i zawartości; utrzymanie sesji Użytkownika Serwisu
                                (po zalogowaniu), dzięki której Użytkownik nie musi na każdej podstronie Serwisu
                                ponownie wpisywać loginu i hasła; W ramach Serwisu
                                stosowane są dwa zasadnicze rodzaje plików cookies: „sesyjne” (session cookies) oraz
                                „stałe” (persistent cookies). Cookies „sesyjne” są plikami tymczasowymi, które
                                przechowywane są w urządzeniu końcowym Użytkownika do czasu
                                wylogowania, opuszczenia strony internetowej lub wyłączenia oprogramowania (przeglądarki
                                internetowej). „Stałe” pliki cookies przechowywane są w urządzeniu końcowym Użytkownika
                                przez czas określony w parametrach plików
                                cookies lub do czasu ich usunięcia przez Użytkownika.
                            </li>
                            <li>Informacje o możliwości i sposobach obsługi plików cookies dostępne są w ustawieniach
                                oprogramowania (przeglądarki internetowej). Operator Kujona informuje, że ograniczenia
                                stosowania plików cookies mogą wpłynąć na niektóre
                                funkcjonalności dostępne na stronach internetowych Serwisu. Pliki cookies zamieszczane w
                                urządzeniu końcowym Kujona i wykorzystywane mogą być również przez współpracujących z
                                Operatorem reklamodawców oraz partnerów.
                            </li>
                        </div>

                        <h2>IX. POSTANOWIENIA KOŃCOWE</h2>
                        <ol>
                            <li>Operator jest upoważniony do dokonywania zmian w niniejszej Umowie i Politce prywatności
                                w dowolnym momencie. Jako użytkownik, zostaniesz poinformowany o zmianach z co najmniej
                                7 dniowym wyprzedzeniem. W przypadku braku zgody
                                na proponowane zmiany, masz prawo do zerwania niniejszej Umowy.
                            </li>
                            <li>Aktualna wersja Umowy dostępna jest na stronie internetowej
                                <a href="https://kujon.mobi/regulamin">kujon.mobi/#disclaimer</a> – możesz ją pobrać i
                                wydrukować. Umowa jest wiażąca od momentu jej akceptacji oraz rozpoczęcia korzystania z
                                Aplikacji.
                            </li>
                            <li>Niniejsza Umowa jest regulowana przez prawo polskie.</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% end %}
