{% extends "index.html" %}
{% block main %}
<div id="page-content">
    <div id="section-content">
        <section id="kontakt">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 heading">
                        <h2 class="skorzystaj-z-pomocy">Strona o podanym adresie nie istnieje</h2>
                        <p>Masz jakieś pytania lub problemy z korzystaniem z aplikacji?
                            <a href="/#contact">Napisz do nas.</a>
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
{% end %}