{% extends "base.html" %}

{% block header %}
<header>
    <div class="container">
        <div class="row">
            <div class="col-sm-10 text-center col-sm-offset-1">
                <div class="intro-header">
                    <h1>Komunikacja studentów z profesorami <span>staje się przyjemnością</span></h1>
                    <button class="btn btn-group white logowanie" data-toggle="modal" data-target="#loginModal">Zaloguj
                        się
                    </button>
                </div>
                <!--<div class="intro-body">
                    <div class="text-center caption">

                    </div>
                    <div class="text-center caption-img">

                    </div>
                </div>-->
                <div class="img-header">
                    <img src="/static/img/apple_devices.png" class="img-responsive"/>
                </div>
            </div>
        </div>
    </div>
</header>
<section id="pomoc">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 overview">
                <div class="col-sm-8 text-center col-sm-offset-2 ">
                    <h2>Pobierz wersje mobilną i ciesz się dodatkowymi funkcjonalnościami</h2>
                </div>
                <div class="col-xs-12 text-center download">
                    <div class="col-xs-12 col-md-6 col-md-offset-3 text-right">
                        <div class="col-xs-6">
                            <a href="#"><img src="/static/img/google_play.png" class=""/></a>
                        </div>
                        <div class="col-xs-6 text-left">
                            <a href="#"><img src="/static/img/app_store.png" class=""/></a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 text-center log-overview">
                    <p>lub <a href="#" class="blue " data-toggle="modal" data-target="#loginModal">Zaloguj się</a> do
                        wersji desktopowej</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="demo">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center ">
                <h2>Dlaczego warto korzystać z <span class="blue">Kujon.mobi</span>?</h2>
            </div>
            <div class="col-sm-12 demo-col">
                <div class="col-sm-4">
                    <h3><i class="fa fa-users"></i>Wymiana wiedzy</h3>
                    <p>Duis viverra lacus at congue tempor. Nunc ac convallis enim, et commodo sem.</p>
                </div>
                <div class="col-sm-4">
                    <h3><i class="fa fa-share-alt"></i>Komunikacja</h3>
                    <p>Duis viverra lacus at congue tempor. Nunc ac convallis enim, et commodo sem.</p>
                </div>
                <div class="col-sm-4">
                    <h3><i class="fa fa-briefcase"></i>Organizacja nauki</h3>
                    <p>Duis viverra lacus at congue tempor. Nunc ac convallis enim, et commodo sem.</p>
                </div>
            </div>
            <div class="col-sm-12 demo-col">
                <div class="col-sm-4">
                    <h3><i class="fa fa-university"></i>Największe uczelnie w Polsce</h3>
                    <p>Duis viverra lacus at congue tempor. Nunc ac convallis enim, et commodo sem.</p>
                </div>
                <div class="col-sm-4">
                    <h3><i class="glyphicon glyphicon-hand-right"></i>Aplikacja mobilna</h3>
                    <p>Duis viverra lacus at congue tempor. Nunc ac convallis enim, et commodo sem.</p>
                </div>
                <div class="col-sm-4">
                    <h3><i class="fa fa-globe"></i>Portale społecznościowe</h3>
                    <p>Duis viverra lacus at congue tempor. Nunc ac convallis enim, et commodo sem.</p>
                </div>
            </div>
        </div>
    </div>
</section>


{% end %}