<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{PROJECT_TITLE}}</title>

    <link href="/static/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/static/bower_components/datatables/media/css/jquery.dataTables.min.css" rel="stylesheet">


    <link href="/static/css/main.css" rel="stylesheet">
    <link rel="shortcut icon" href="/static/favicon.ico">

    <link rel="stylesheet" href="/static/bower_components/fullcalendar/dist/fullcalendar.min.css"/>

    <script type="text/javascript" src="/static/require.config.js"></script>
    <script type="text/javascript" data-main="/static/js/startup.js"
            src="/static/bower_components/requirejs/require.js"></script>
</head>

<body>
<!-- navigation -->
<div id="navigation">
</div>


<!-- pages -->
<div id="page" class="container">
</div>
<hr>
<footer class="footer">
  <div class="container text-center">
      <p class="text-muted">
            {{PROJECT_TITLE}} © 2016 |
            <a href="#disclaimer">regulamin </a> |
            <a href="mailto:kujon@kujon.mobi"><i class="fa fa-envelope"></i></a> |
            <a href="https://facebook.com/kujon.mobi"><i class="fa fa-facebook"></i></a> |
          <a href="https://play.google.com/store/apps/details?id=mobi.kujon"><i class="fa fa-android"></i></a> |
          wersja: {{WEB_VERSION}}
       </p>
  </div>
</footer>
</body>

</html>