{% extends "base.html" %}

{% block main %}
<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 naglowek-h2">
                <h2 class="skorzystaj-z-pomocy">Login</h2>
                <p></span></p>
            </div>
            <div class="col-sm-12">
                <p>Zaloguj się za pośrednictwem jednego z poniższych portali społecznościowych.</p>
            </div>
            <div class="col-sm-12">
                <a href="{{API_URL}}/authentication/facebook" type="button"
                   class="btn btn-primary btn-lg btn-block">
                    Zaloguj się przez Facebook</a>
            </div>
            <div class="col-sm-12 col-xs-12">
                <div class="col-sm-5 col-xs-5 hr-left">
                    <hr/>
                </div>
                <div class="col-sm-2 col-xs-2 text-center">
                    <span>lub</span>
                </div>
                <div class="col-sm-5 col-xs-5 hr-right">
                    <hr/>
                </div>
            </div>
            <div class="col-sm-12">
                <a href="{{API_URL}}/authentication/google" type="button"
                   class="btn btn-danger btn-lg btn-block">
                    Zaloguj się przez Google</a>
            </div>
        </div>
    </div>
</section>


{% end %}