{% extends "base.html" %}

{% block header %}
<section id="usos">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 naglowek-h2">
                <h2>Aby móc pracować w <span>Kujonie</span> wybierz uczelnię w której masz założone konto USOS,
                    przekierujemy Cię abyś się zalogował.</h2>

            </div>

            <!--
			<div class="col-sm-12">
				<div class="form-group col-sm-4">
					<input type="text" class="search" placeholder="Szukaj według nazwy uczelni">
				</div>
				<div class="col-sm-8 text-right brak-uczelni">
					<a href="#" data-toggle="modal" data-target="#niemauczelni"><span>Nie ma Twojej uczelni?</span></a>
				</div>
			</div>
			-->
            {% for usos in usoses %}
            <div class="col-md-2 col-sm-4 col-xs-6">
                <div class="border-logo-cykle col-sm-12 text-center">
                    <img src="{{ usos['logo'] }}" class="img-responsive logo-uczelni">
                    <p><a href="{{API_URL}}/authentication/register?usos_id={{ usos['usos_id'] }}">{{ usos['name']
                        }}</a></p>
                </div>
            </div>

            {% end %}

        </div>
    </div>
</section>


{% end %}