body {
    min-height: 700px;
    padding-top: 70px;
}

.modal-dialog {
    width: 70%;
}

[data-toggle="collapse"].collapsed .if-not-collapsed {
  display: none;
}
[data-toggle="collapse"]:not(.collapsed) .if-collapsed {
  display: none;
}