<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>{{ PROJECT_TITLE }} portal administratora</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{{ static_url("css/materialize.css") }}" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="{{ static_url("css/style.css") }}" type="text/css" rel="stylesheet" media="screen,projection" />
</head>

<body>
{% block navbar %}
{% end %}

<div class="container">
    <br><br>
    {% block content %}
    {% end %}
</div>

{% block footer %}
{% end %}


<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="{{ static_url("js/materialize.js") }}"></script>
<script src="{{ static_url("js/init.js") }} "></script>

</body>

</html>