{% extends "base.html" %}
{% block main %}
<div>
    <ul class="nav navbar-nav navbar-right">
        <table>
            <tr>
                napisz do:
                <select name="osoba">
                    <option value="Janek">Janek</option>
                    <option value="Tomek">Tomek</option>
                </select>
                <td>
                    treść:<input type="text">
                </td>
            </tr>
        </table>
        <table>
            <tr>
                <td>Agnieszka</td>
                <td>
                    wpisz:<input type="text">
                    <p>co tam?</p>
                    <p>amndsans ad asdasd</p>
                    <p[>asdasdasdas</p>
                </td>
            </tr>
            <tr>
                <td>Zenek</td>
                <td>
                    wpisz:<input type="text">
                    <p>co tam?</p>
                    <p>amndsans ad asdasd</p>
                    <p[>asdasdasdas</p>
                </td>
            </tr>
        </table>
    </ul>

</div>
{% end %}