<div class="panel panel-default">
    <div class="panel-body">
        <table class="table table-hover">
            <caption>Informacje o użytkowniku</caption>
            <thead>
            <th></th><th></th>
            </thead>
            <tbody>

                <tr><td>Imie</td><td>{{family_name}}</td></tr>
                <tr><td>Nazwisko</td><td>{{name}} {{given_name}}</td></tr>
                <tr><td>locale</td><td>{{locale}}</td></tr>
                <tr><td>user_type</td><td>{{user_type}}</td></tr>
                <tr><td>Email</td><td>{{email}}</td></tr>
                <tr><td></td><td><img src="{{picture}}" class="img-responsive" alt="Responsive image"></td></tr>
            </tbody>

        </table>
    </div>
</div>